

  <footer class="mybgcolor ">
    <div class="container-fluid padding">
        <div class="row text-center wow fadeIn"  data-wow-delay="0.6s">
        
          <div class="col-md-4">
            <hr class="light">
            <h5 class="zoom"> Quick links</h5>
            <hr class="light">
          
              <!-- <p><a class="colormylink" href="/alltaskpage">Task</a></p>
              <p><a class="colormylink" href="/allprospectpage">Prospect</a></p>
              <p><a  class="colormylink"href="/leftnavigation">Left Navigation</a></p> -->
              <p><a class="colormylink" [routerLink]="['/login']">Login</a></p>
              <p><a  class="colormylink" [routerLink]="['/register']">Sign Up</a></p>
              <p><a class="colormylink" [routerLink]="['/']">Home</a></p>
        
          </div>
          
          <div class="col-md-4">
            <hr class="light">
            <h5 class="zoom">  Company Info</h5>
            <hr class="light">
          
            <p class="mb10">Music Fusic</p>
            <p><i class="fa fa-location-arrow"></i> music area</p>
            <p><i class="fa fa-phone"></i>  0172 467 7163 </p>
            <p><i class="fa fa fa-envelope"></i>musicfusic@musicfusic.com</p>
          
          </div>
          
          <div class="col-md-4">
            <hr class="light">
            <h5 class="zoom"> Quick links</h5>
            <hr class="light">
              <!-- <p ><a class="colormylink" href="/alltaskpage">Task</a></p>
              <p><a class="colormylink" href="/allprospectpage">Prospect</a></p>
              <p><a class="colormylink" href="/leftnavigation">Left Navigation</a></p> -->
              <p><a class="colormylink"[routerLink]="['/login']">Login</a></p>
              <p><a class="colormylink" [routerLink]="['/register']">Sign Up</a></p>
              <p><a class="colormylink"[routerLink]="['/']">Home</a></p>
      
          </div>
          
        </div>
          <hr class="light">
      </div>
      <div class="container-fluid padding">
      
        <div class="row text-center">
        <div class="col-12">
        
        <h6 >Copyright @2018 | Designed With by </h6><h6><a href="/">musicfusic</a></h6>
        </div>
        
        </div>
      </div>
    
  
    </footer>