<div class="container-fluid mytitle padding display-4 ">
  <div class="text-center">
    <h2 class=" wow flipInY " data-wow-delay=".6s">Welcome to MuSiC FuSiC</h2>

  </div>
</div>
<div class="container mytitle1 display-4 padding">
  <div class="text-center">
    <h2 class="wow fadeInUp" data-wow-delay="0.6s">MuSiC</h2>
  </div>
</div>

<div class="mymb3">
  <div class=" col-md-6 img-1 col-sm-6  flex-fill">
    <img class="img-fluid wow shake" data-wow-delay="0.6s"
      src="https://images.unsplash.com/photo-1494049694820-92a3163b10ad?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60"
      width="100%" />
  </div>
  <div class=" col-md-6 col-sm-6  flex-fill ">
    <div class="display-4  quote wow slideInRight " data-wow-delay="0.6s">
      <i class="fas fa-quote-left"></i>
      <blockquote class=" text-muted text-center">
        Music gives a <br />soul to the universe,<br /> wings to the mind, <br />
        flight to the imagination <br /> and life to everything.
      </blockquote>
      <i class="fas fa-quote-right"></i>
    </div>
  </div>
</div>

<div class="mymb3">
  <div class=" col-md-6 col-sm-6 flex-fill "> <br />
    <div class="display-4 quote wow slideInLeft">
      <i class="fas  fa-quote-left"></i>
      <blockquote class="text-muted text-center">
        After silence, <br />that which comes nearest <br />to expressing <br />the inexpressible is music.
      </blockquote>
      <i class="fas  fa-quote-right"></i>
    </div>
  </div>
  <div class="  img-2 col-md-6 col-sm-6 flex-fill">
    <img class="img-fluid wow shake" data-wow-delay="0.6s"
      src="https://images.unsplash.com/photo-1496293455970-f8581aae0e3b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60"
      width="100%" />
  </div>
</div>

<div class="mymb3">
  <div class=" col-md-6 img-1 col-sm-6  flex-fill">
    <div class="rectangle  ">
      <div class="parallelogram">
        <h1 class="display-3 rectext text-center wow fadeIn">Best Music of the Era</h1>
      </div>
    </div>
  </div>
  <div class=" col-md-6 col-sm-6  wow fadeIn flex-fill ">
    <ul>
      <li class="display-4"> When Doves Cry </li>
      <li class="display-4">Like a Prayer</li>
      <li class="display-4"> Baby One More Time</li>
      <li class="display-4">Everybody </li>
      <li class="display-4">It's Gonna Be Me </li>
      <li class="display-4">Let Me Love You </li>
    </ul>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-8 col-center m-auto display-4">
      <h2 class="wow fadeInUp" data-wow-delay="0.6s">Developer</h2>
      <div id="myCarousel" class="carousel slide" data-ride="carousel">

        <ol class="carousel-indicators">
          <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
          <li data-target="#myCarousel" data-slide-to="1"></li>
        </ol>

        <div class="carousel-inner">
          <div class="item carousel-item active">
            <div class="img-box"> <img
                src="https://media.licdn.com/dms/image/C5103AQFtG4naRpEcBQ/profile-displayphoto-shrink_200_200/0?e=1555545600&v=beta&t=M_-M4t8b0n9nk-MJDR878-QcEMzdpPopQ9xMlgj1fb4">
            </div>
            <p class="testimonial">Life is a journey. You have to walk a million miles.</p>
            <p class="overview"><b>Shivam Manawat,<br></b>Mean Stack Developer</p>
          </div>
          <div class="item carousel-item">
            <div class="img-box">
              <img
                src="https://media.licdn.com/dms/image/C5103AQFtG4naRpEcBQ/profile-displayphoto-shrink_200_200/0?e=1555545600&v=beta&t=M_-M4t8b0n9nk-MJDR878-QcEMzdpPopQ9xMlgj1fb4">
            </div>
            <p class="testimonial">Success come to those who deserves it.</p>
            <p class="overview"><b>Shivam Manawat,<br></b>Mean Stack Developer</p>
          </div>
        </div>

        <a class="carousel-control left carousel-control-prev" href="#myCarousel" data-slide="prev">
          <i class="fa fa-angle-left"></i>
        </a>
        <a class="carousel-control right carousel-control-next" href="#myCarousel" data-slide="next">
          <i class="fa fa-angle-right"></i>
        </a>
      </div>
    </div>
  </div>
</div>